
:root {
    --body-background-color-dark: #101218;


    /* Light mode styles */
    /* --body-background-color-light: #FFFFFF; */
    --body-background-color-light: #FFFFFF;
    --bd-header-article-color: #FFFFFF;
}

/* Light mode styles for the general webpage */

[data-mode="light"] body {
    background-color: var(--body-background-color-light) !important;
}

[data-mode="light"] .bd-sidebar {
    background-color: var(--body-background-color-light) !important;
}


[data-mode="light"] .bd-sidebar-secondary {
    background-color: var(--body-background-color-light) !important;
}

[data-mode="light"] .bd-header-article {
    /* background-color: var(--body-background-color-light) !important; */
    background-color: var(--bd-header-article-color) !important;
}

[data-mode="light"] .bd-article-container {
    background-color: var(--body-background-color-light) !important;
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] body {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-sidebar {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-sidebar-secondary {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-header-article {
        background-color: var(--body-background-color-light) !important;
    }
}

@media (prefers-color-scheme: light) {
    [data-mode="auto"] .bd-article-container {
        background-color: var(--body-background-color-light) !important;
    }
}






/* Dark mode styles for the general webpage */


[data-mode="dark"] body {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-sidebar {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-sidebar-secondary {
    background-color: var(--body-background-color-dark) !important;
}




[data-mode="dark"] .bd-header-article {
    background-color: var(--body-background-color-dark) !important;
}

[data-mode="dark"] .bd-article-container {
    background-color: var(--body-background-color-dark) !important;
}


@media (prefers-color-scheme: dark) {
    [data-mode="auto"] body {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-sidebar {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-sidebar-secondary {
        background-color: var(--body-background-color-dark) !important;
    }
}


@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-header-article {
        background-color: var(--body-background-color-dark) !important;
    }
}

@media (prefers-color-scheme: dark) {
    [data-mode="auto"] .bd-article-container {
        background-color: var(--body-background-color-dark) !important;
    }
}



div.sidebar, aside.sidebar:not(.margin) {
    width: auto;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: inherit !important;
    margin-left: 0 !important;
    border-radius: 20px !important;
    /* margin-right: 0 !important; */
    /* margin-top: 0 !important; */
    /* margin-bottom: 0 !important; */
    /* border: none !important; */
}


.margin {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    padding: 4px 4px 4px 4px !important;
}


/* 

@font-face {
  font-family: 'Inter';
  src: url('fonts/inter-v18-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter-bold';
  src: url('fonts/inter-v18-latin-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Inter-medium';
  src: url('fonts/inter-v18-latin-600.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Inter', sans-serif !important;
}

.admonition-title {
    font-family: 'Inter-medium', sans-serif !important;
}


.bd-sidebar .nav li a {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif !important;
} 
  
*/


